h1{
    text-align: center;
    font-family: 'Sen', sans-serif;
    font-size: 400%;
}
.myButton {
	background-color:#232323;
    cursor:pointer;
    color:#ffffff;
	font-family: 'Sen', sans-serif;
	font-size:23px;
	padding:11px 31px;
    text-decoration:none;
    border-color: #232323;
    outline: none;
}
.myButton:hover {
	background-color:#000000;
}
.center-div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
